---
layout: default
---
<script src="/assets/js/masonry.mod.js"></script>

<!--Cards-->
<div class="card-container">
    <div id="gutter-sizer"></div>
    {% for i in (1..1) %}
    {% assign sortedProjects = site.projects | sort: 'ordering_key' %}
    {% for project in sortedProjects %}
        {% if project.story %}
            <div class="tiled-card story-card {{ project.cssclass }}">
                <div>{{ project.content | markdownify }}</div>
            </div>
        {% else %}
        <div class="tiled-card project-card small-card {{ project.cssclass }}">
            <div class="card-title">{{ project.title }}
                {% if project.hostedlink %}
                <a href="{{project.hostedlink}}" class="hosted-link">🔗</a>
                {% endif %}
            </div>
            <div class="card-sub">{{ project.oneline }}</div>
            <div class="card-content">{{ project.content | markdownify }}</div>
            <div class="card-time">{{ project.dinfo }}</div>
        </div>
        {% endif %}
    {% endfor %}
    {% endfor %}
</div>
<div id="story-sizer" class="sizer tiled-card story-card"></div>
<div id="card-sizer" class="sizer tiled-card project-card"></div>
<script src="/assets/js/mainpage.js"></script>